

div {
  margin: 35px;
  width: auto;
  background-color:black ;
  color: rgb(255, 254, 240); 
  border-radius: 10px;  
  padding:0.2px;
    
}


h1 {
  text-align: center;  
}

button {
  background-color: #febe01;
  border-radius:4px ;
  border-style: none;
  padding: 10px;
}
h2 {
  margin: 30px;
}

span {
  color:#b2b2b2;    
}

.amareloTexto {
  color: #febe01;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}




