.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;  
  background: brown;
  place-content: center;
  /* height: 100vh; */
}

h2{
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,auto));
  gap: 5px;
}

