h1 {
 grid-column: 1/-1;  
}

.grid1{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
place-items: start;
}

.grid2{
  display: grid;  
  gap: 10px;
  grid-area: 2/1;
  place-items: start;    
  }

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.preco {
  background: #d1cccc;
  color: blueviolet;
  text-decoration: none;
  border: solid 1px;
  border-radius: 4px;
  padding: 5px 10px;
}
.comprar {
  background: #e406d1;
  color: rgb(25, 1, 90);
  text-decoration: none;
  border: solid 1px;
  border-radius: 4px;
  padding: 5px 10px;
}

img {
  max-width: 100%;
}

.foto {
  grid-column: 2;
}

.menu {
  display: flex;
  flex: wrap;
  gap: 20px;
  background: rgb(0, 217, 255);
  border:solid black;
  color: black;  
  justify-content: space-between;
  align-items: start;
}

.item1 {
  border: solid 1 px #e406d1;
  flex: 1;
  background: violet;
  text-decoration: none;
  color: yellow;
  border-radius: 4px;
}